.customers-component{
  text-align: center;
  padding: auto 60px ;
}

.customer-logos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  margin: 60px 0;
}

.customers-grid-item {
  padding:0 20px 0 0;
}

.company-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px #ddd;
  padding: 24px 14px;
  margin: 8px;
}
.company-card-image {
  max-height:3.2rem;
  display: block;
  margin: auto;
}

.customers-blob {
  position: absolute;
  display: block;
  bottom: 0;
  right:0;
}

@media only screen and (max-width: 1024px) { 
  .customer-logos-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 40px 0;
  }
}


@media only screen and (max-width: 764px) { 
  .customer-logos-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px 0;
  }
}

@media only screen and (max-width: 648px) { 
  .customer-logos-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px 0;
  }
}