.services-blob {
  width: max-content;
  margin: 30px auto; 
  display:block;
}

.blog-image {
  display: block;
  right:0px;
  width:26rem;
}

.blob-solid {
  display:block;
  position: absolute;
  z-index: -1;
  height: auto;
  width:26rem;
}

@media only screen and (max-width: 1200px) {  
  .services-blob {
    display: none;
  }
}