.services-blob {
  width: max-content;
  margin: 30px auto; 
  display:block;
}

.blog-image {
  display: block;
  right:0px;
  width:26rem;
  min-width: 300px;
}

.blob-solid {
  display:block;
  position: absolute;
  z-index: -1;
  height: auto;
  width:26rem;
  min-width: 340px;
}