.cube-wrapper {
  width: 200px;
  height: 213px;
  margin:auto;
  position: absolute;
}
.cube {
  top: 50px;
  transform-style: preserve-3d;
  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
  margin: auto;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
}
.cube > div {
  position: absolute;
  transition: all 0.5s ease-in-out;
  float: left;
  overflow: hidden;
  background-color:#21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
.cube-face-one {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  
}
.cube-face-two {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  
}
.cube-face-three {
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}
.cube-face-four {
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}
.cube-face-five {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}
.cube-face-six {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}


/*Rotation scripts */

.cube {
  animation: rotate-cube infinite;
  animation-duration: 20s
}
@keyframes rotate-cube {
  0%   {  transform: rotateX(-38deg) rotateY(-38deg) rotateZ(0deg);   }
  50%   { transform: rotateX(-238deg) rotateY(-238deg) rotateZ(0deg);  }
  100%   {    transform: rotateX(-398deg) rotateY(-398deg) rotateZ(0deg);  }
}