.footer-component {
  margin: 0;
  background: #eee;
}
.footer-content-wrapper {
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  width: 100%;
}
.footer-content {
  margin: auto;
  text-align: center;
  z-index: 2;
}

.footer-navigation {
  font-size: 12px;
  padding: 2px 10%;
}