@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Manjari&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #333;
}

.wrapper {
  padding: 6rem 5rem;
}