@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Source+Sans+Pro&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  line-height: 34px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend Deca', sans-serif;
}

p {
  font-size: 28px;
}
.section-heading{
  line-height: 1.4
}

.wrapper {
  padding: 8rem 5rem;
}

.action-button {
  display: inline-block;
  text-decoration: none;
  background-color:#2BFF88 ;
  color: #fff;
  padding: 10px 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1rem;
  line-height: 1.2rem;
  border-radius: 4px;
  box-shadow: 0 2px 2px #ccc;
  transition: all ease .5s;
  font-family: 'Lexend Deca', sans-serif;
}

.action-button:hover{
  box-shadow: 1px 3px 3px #ccc;
  transform: translateY(-1px);
}